<main>
    <h1>{{title}}</h1>

    {{#if login}}
        <div>
            <p>Name: {{drinkInfo.name}}</p>
            <p>Category: {{drinkInfo.category}}</p>
            <p>Recipe: {{drinkInfo.recipe}}</p>
            <p>Rating: {{{generateStarRating drinkInfo.rating}}} {{drinkInfo.rating}}</p>
            <p>Price: {{drinkInfo.price}}</p>
            <p>Stocks: {{drinkInfo.stocks}}</p>
            <img src="{{drinkInfo.drinkPictureLocation}}" alt="drink_Picture" id="drinkPhoto"><br>
            {{# if isReservable}}
                <button class="btn btn-success" id="reserveButton" data-drinkid="{{drinkInfo._id}}">Reserve</button>
            {{/if}}
        </div>

        <div>
            <h2>Reviews</h2>
            <ul>
                {{#each reviews}}
                    <li class="review-item">
                        <div class="review-header">
                            <img src="{{userProfilePictureLocation}}" alt="" id="customerPhoto">
                            <div class="customer-details">
                                <span>{{owner}}</span>
                                <span>{{timestamp}}</span>
                                {{#if canEdit}}
                                    <button class="btn editReviewButton" data-reviewid="{{reviewId}}">Edit</button>
                                {{/if}}
                                {{#if canRemove}}
                                    <button class="btn deleteButton" data-reviewid="{{reviewId}}">Delete</button>
                                {{/if}}
                            </div>
                        </div>
                        <p>{{reviewText}}</p>
                        <p>Rating: {{{generateStarRating rating}}} {{rating}}</p>
                        {{#if reviewPicture}}
                            <img src="{{reviewPicture}}" alt="review_Picture" id="reviewPhoto"><br>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>


        {{#unless hasReview}}
            <div>
                <h2>Add a Review</h2>
                <div id="addReview_error" class="hidden-div"></div>
                <form id="addReviewForm" method="POST">
                    <input type="hidden" id="drinkId" name="drinkId" value="{{drinkInfo._id}}">
                    <div>
                        <label for="reviewText">Review *:</label>
                        <textarea id="reviewText" name="reviewText" required></textarea>
                    </div>
                    <div>
                        <label for="rating">Rating (1-5) *:</label>
                        <input type="number" id="rating" name="rating" required min="1" max="5">
                    </div>
                    <div>
                        <label for="reviewPhotoInput">Review Photo:</label>
                        <input type="file" id="reviewPhotoInput" name="reviewPhotoInput" accept="image/*">
                        <img id="previewImg" alt="previewImg" src="#" >
                        <button type="button" id="removeImageBtn" style="display: none;">Remove Image</button>
                    </div>
                    <div>
                        <button type="submit" id="postReview">Post Review</button>
                    </div>
                </form>
                <div id="error" class="hidden-div">error message</div>
            </div>
        {{/unless}}
    {{/if}}

    <div id="updateReviewModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" id="closeUpdateModal">&times;</span>
            <h2>Update Review</h2>
            <div id="updateReview_error" class="hidden-div"></div>
            <form id="updateReviewForm">
                <input type="hidden" id="updateReviewId" name="updateReviewId">
                <div>
                    <label for="updateReviewText">Review *:</label>
                    <textarea id="updateReviewText" name="updateReviewText" required></textarea>
                </div>
                <div>
                    <label for="updateRating">Rating (1-5) *:</label>
                    <input type="number" id="updateRating" name="updateRating" required min="1" max="5">
                </div>
                <div>
                    <label for="updateReviewPhoto">Review Photo:</label>
                    <input type="file" id="updateReviewPhoto" name="updateReviewPhoto" accept="image/*">
                    <img id="previewImg_update" alt="previewImg" src="#" >
                    <button type="button" id="removeImageBtn_update" style="display: none;">Remove Image</button>
                </div>
                <div>
                    <button type="submit" id="submitUpdateReview">Update Review</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../public/js/drinkInfos.js"></script>
</main>
