<main>
    <h1>{{title}}</h1>

    {{#if login}}
        <div>
            <h2>Drink Details</h2>
            <p>Name: {{drinkInfo.name}}</p>
            <p>Category: {{drinkInfo.category}}</p>
            <p>Recipe: {{drinkInfo.recipe}}</p>
            <p>Rating: {{drinkInfo.rating}}</p>
            <p>Price: {{drinkInfo.price}}</p>
            <img src="{{drinkInfo.drinkPictureLocation}}" alt="drink Picture" id="drinkPhoto"/>
            <button class="btn btn-success" id="reserveButton" data-drinkid="{{drinkInfo._id}}">Reserve</button>
        </div>

        <div>
            <h2>Reviews</h2>
            <ul>
                {{#each reviews}}
                    <li class="review-item">
                        <div class="review-header">
                            <img src="{{userProfilePictureLocation}}" alt="" id="customerPhoto"/>
                            <div class="customer-details">
                                <span>{{owner}}</span>
                                <span>{{timestamp}}</span>
                                {{#if myPost}}
                                    <button class="" id="reviewEditBtn">Edit</button>
                                    <button class="btn btn-danger deleteButton" data-reviewid="{{reviewId}}">Delete</button>

                                {{/if}}
                            </div>
                        </div>
                        <p>{{reviewText}}</p>
                    </li>
                {{/each}}
            </ul>

        </div>


        {{#unless hasReview}}
            <div>
                <h2>Add a Review</h2>
                <form id="addReview" action="/drink/{{drinkInfo._id}}" method="POST">
                    <div>
                        <label for="reviewText">Review:
                            <textarea id="reviewText" name="reviewText" required></textarea>
                        </label>
                    </div>
                    <div>
                        <label for="rating">Rating (1-5):
                            <input type="number" id="rating" name="rating" required min="1" max="5">
                        </label>
                    </div>
                    <div>
                        <button type="submit" id="postReview">Post Review</button>
                    </div>
                </form>
                <div id="error" class="hidden-div">error message</div>
            </div>
        {{/unless}}
    {{/if}}


    <script src="../public/js/drinkInfo.js"></script>
</main>
