<div>
    {{#if login}}
        <div class="col-md-12 text-right">
            <img src="{{userProfilePictureLocation}}" alt="Profile Picture" class="personalImage">
            <span>{{firstName}} {{lastName}}</span>
        </div>
        <button id="messageBtn" class="btn btn-secondary">Send Message</button>
    {{/if}}
    <h1>{{title}}</h1>

    <button id="showAllButton" class="btn btn-primary" style="display: none;">Show All</button>
    <input type="text" id="searchBar" placeholder="Search drinks...">
    <button id="searchButton">Search</button>

    <div>
        <label for="sortOptions">Sort By:</label>
        <select id="sortOptions">
            <option value="priceDesc">Price (High to Low)</option>
            <option value="priceAsc">Price (Low to High)</option>
            <option value="topRating">Top Rating</option>
            <option value="topReserved">Top Reserved</option>
        </select>
        <button id="sortButton" class="btn btn-primary">Sort</button>
    </div>


    <div id="drinksContainer">
        {{#if drinks.length}}
            <ul class="displaydrinks">
                {{#each drinks}}
                    <li class="alldrinks">
                        <h2>{{name}}</h2>
                        <img src="{{drinkPictureLocation}}" alt="drink Picture" class="drink-picture">
                        <p>Category: {{category}}</p>
                        <p>Rating: {{{generateStarRating rating}}} {{rating}}</p>
                        <p>Price: {{price}}</p>
                        <p>Stock: {{stocks}}</p>
                        <p>Reserved Counts: {{reservedCounts}}</p>
                        {{# unless available}}
                            <p class="sold_out_text">Sold Out</p>
                        {{/unless}}
                        <button class="btn btn-primary" onclick="redirectToPage('{{_id}}')">View Details</button>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No drinks available</p>
        {{/if}}
    </div>

    <div id="messageModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="messageForm">
                <textarea name="message" placeholder="Type your message here..."></textarea>
                <input type="submit" value="Send Message">
            </form>
        </div>
    </div>

    <script src="../public/js/home.js"></script>
</div>