<main>
    <h1>{{title}}</h1>
    
    {{#if user}}
    <form id="modify_form" action={{url}} method="POST">
        <div>
            <label for="firstName">
                First Name:
                <input type="text" id="firstNameInput" name="firstNameInput" value="{{firstName}}" required>
            </label>
        </div>
        <div>
            <label for="lastName">
                Last Name:
                <input type="text" id="lastNameInput" name="lastNameInput" value="{{lastName}}" required>
            </label>     
        </div>
        <div>
            <label for="oldPassword">
                Old Password:
                <input type="password" id="oldPassword" name="oldPassword" required>
            </label>
        </div>
        <div>
            <label for="newPassword">
                New Password:
                <input type="password" id="newPassword" name="newPassword" required>
            </label>
        </div>
        <div>
            <label for="confirmNewPassword">
                Confirm New Password:
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            </label>
        </div>
        <div>
            <label for="state">
                State:
                <input type="text" id="state" name="state" value="state" required>
            </label>
        </div>
        <div>
            <label for="newProfilePictureLocation">
                Upload Image:
                <input type="file" id=" newProfilePictureLocation" name=" newProfilePictureLocation" required>
                <img id="previewImg" src="#">
            </label>
        </div>        
        <div>
            <ul class="errorInfo">
                {{#if message}}
                    <li>{{message}}</li>
                {{/if}}
            </ul>
            <button type="submit" id="submit" >Save Changes</button>              
        </div>
    </form>
    {{else}}
        <p id="clienterror3" ></p>
    {{/if}}
    <script src="/public/js/modifyUserIndo.js"></script>
</main>
