<main>
    <h1>{{title}}</h1>
    {{#if user}}
        <h2>Welcome, {{user.firstName}} {{user.lastName}}!</h2>
        <label>Email:</label>
        <p>{{user.email}}</p>
        <label>Phone Number:</label>
        <p>{{user.phoneNumber}}</p>
        <label>Role:</label>
        <p>{{user.role}}</p>
        {{!-- display reserved drinks --}}
        <h3>Reserved Drinks:</h3>
            <ul>
                {{#each drinkReserved as |drink|}}
                <li>{{drink}}</li>
                {{/each}}
            </ul>

        {{!-- display reviews --}}
        <h3>Reviews:</h3>
        <ul>
            {{#each reviews as |review|}}
                <li>{{drinkName}}</li>
                <img src="{{drinkPicture}}" alt="drink Picture" class="drink-picture" />
                <li>{{reviewText}}</li>
                <li>{{timestamp}}</li>
            {{/each}}
        </ul>
    {{else}}
        <a href="/login">Please Log In To View Your Profile</a>
    {{/if}}    

</main>
