<main>
    <h1>{{title}}</h1>
    {{#if user}}
        <div>
            <h2>Welcome, {{user.firstName}} {{user.lastName}}!</h2>
            <label>Email:</label>
            <p>{{user.email}}</p>
            <label>Phone Number:</label>
            <p>{{user.phoneNumber}}</p>
            <label>Role:</label>
            <p>{{user.role}}</p>
            <button id="editUserInfoBtn" class="btn btn-secondary">Edit My Info</button>
        </div>

        <div>
            <h3>Reserved Drinks:</h3>
            <ul>
                {{#each drinkReserved as |drink|}}
                    <li>
                        <img src="{{drinkPictureLocation}}" alt="drink Picture" class="reserved-picture">
                        {{name}}
                        {{#if _id}}
                            <button class="btn btn-primary" onclick="redirectToPage('{{_id}}')">View Drink Details
                            </button>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>

        <div>
            <h3>Reviews:</h3>
            <ul>
                {{#each reviews as |review|}}
                    <li>{{drinkName}}</li>
                    {{# if reviewPicture}}
                        <img src="{{reviewPicture}}" alt="drink Picture" class="comment-picture">
                    {{/if}}
                    <li>{{reviewText}}</li>
                    <li>{{timestamp}}</li>
                    <button class="btn btn-primary" onclick="redirectToPage('{{drinkId}}')">View Review Details</button>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <a href="/login">Please Log In To View Your Profile</a>
    {{/if}}
    <script src="../public/js/profiles.js"></script>


    <div id="editInfoModal" class="modal hidden-div">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Edit My Info</h2>
            <div id="error" class="hidden-div"></div>
            <form id="editInfoForm" enctype="multipart/form-data">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="{{user.firstName}}">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="{{user.lastName}}">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="{{user.email}}" readonly>
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" value="{{user.phoneNumber}}">
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword" name="oldPassword">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword">
                <label for="confirmNewPassword">Confirm New Password:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword">
                <label for="photoInput">Profile Photo:</label>
                <input type="file" id="photoInput" name="photoInput" accept="image/*">
                <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
                <button type="button" id="removeImageBtn" style="display: none;">Remove Image</button>
                <input type="submit" value="Update">
            </form>
        </div>
    </div>

</main>

